.Slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.Slide {
  text-align: center;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
}

.Slide .title {
  font-size: 24px;
  margin-bottom: 20px;
}
